.navbar{
    list-style-type: style type none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(164, 75, 75);
}

li {
    display: inline;
    float: left;

}
li a {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #bd1c1c;
}
.active {
    background-color: #bd1c1c;
}

body {
    
    background-image: url("pexels-eberhardgross-844297.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.imege {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    
}
img {
    
    padding: 5px;
    width: 150px;
    height: 200px;
}
